#about {
    height: 150vh;
    text-align: center;
    /* background-color: yellow; */
  }

.aboutMe {
  /* background-color: green; */
  height: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}

.myBio {
  /* background-color: orange; */
  width: 50%;
  text-align: left;
  overflow-y: scroll;
}

.myImage {
  width: 30%;
  height: 95%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/images/myImage.JPG");
  border: 5px solid #f4f4f2;
}
.myImage:hover {
  width: 31%;
  height: 96%;
}

.aboutMeText {
  border: 2px solid #f4f4f2;
  padding: 20px;
}

.aboutMeText:hover {
  border: 2px solid #F08080;
}

.BioHeader {
  color: #f4f4f2;
  text-align: center;
}

.timelineContainer {
  /* background-color: red; */
  height: 25%;
  width: 100%;
  padding-top: 40px;
  margin: auto;
}

.timelineHeader {
  color: #f4f4f2;
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  background-color: #f4f4f2;
  border-radius: 15px;
  height: 10px;
  width: 90%;
  margin-left: 5%;
}

.fas {
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #D6EAF8 ;
}
@media (max-width: 1000px) {
  .fas {
    font-size: 30px;
  }
  .fas:hover {
    font-size: 40px;
  }
}

.fas:hover {
  /* color: #F08080; */
  font-size: 60px;
  text-decoration: none;
}

.iconContainer {
  background-color: #52BE80;
  border-radius: 50%;
  height: 50px;
}
.iconContainer:hover {
  height: 60px;
}

.iconContainer.to-be{
  background-color: #F08080;
  border-radius: 50%;
  height: 50px;
}
.iconContainer.to-be:hover {
  height: 60px;
}

@media (max-width: 1000px) {
  .iconContainer {
    height: 30px;
  }
  .iconContainer.to-be {
    height: 30px;
  }
  .iconContainer:hover {
    height: 60px;
  }
}