#about {
  height: 100vh;
  text-align: center;
  margin-top: 10vh;
}

.aboutMe {
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
}

.myBio {
  width: 50%;
  text-align: left;
  overflow-y: scroll;
}

.myImage {
  width: 60%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/images/myImage.JPG");
  border: 5px solid #f4f4f2;
  margin-left: 20%;
  border-radius: 2%;
}

.myImage:hover {
  width: 61%;
  height: 91%;
}

.aboutMeText {
  border: 5px solid #f4f4f2;
  padding: 20px;
  background-color: rgb(214, 234, 248, 0.5);
  margin: 5px;
  max-height: 90%;
  overflow: hidden;
  border-radius: 2%;
  font-size: 16px;
}

.aboutMeText:hover {
  overflow: auto;
  background-color: rgb(214, 234, 248, 0.8);
}

.aboutMeText:hover>span.ibm {
  color: #1F70C1;
}

.aboutMeText:hover>span.uva {
  color: #EB984E;
}

.aboutMeText:hover> #myGoal {
  color: #F08080;
}

.aboutMeText:hover> #myGoal2 {
  color: #7B7D7D;
}

.BioHeader {
  color: #f4f4f2;
  text-align: center;
  font-size: 30px;
}