.bottom {
    /* background-color: violet;
    display: flex; */
    /* height: 30% */
}


/* .meWave {
    width: 10%;
    height: 20%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("/images/meWave.PNG");
    background-color: blue;
    position: absolute;
    align-items: baseline;
}
@media(max-width: 700px) {
    .meWave {
      width: 50%;
    }
} */

footer {
    color: #f4f4f2;
    text-align: center;
    font-family: Helvetica, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 10px;
    /* background-color: green;
    width: 80%; */
  }
