.navbar {
    padding: 0.7rem;
    transition: top 0.3s;
    background-color: rgba(93, 173, 226, 0.7);
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.3em !important;
    color: #f4f4f2 !important;
}

.navbar-brand {
    font-size: 1.5em !important;
    color: #f4f4f2 !important;
}

#navbar-brand:hover {
    color: #F08080 !important;
}

#navbar-brand2:hover {
    color: #7B7D7D  !important;
}

#nav-link:hover {
    color: #F08080 !important;
}

#nav-link2:hover {
    color: #7B7D7D  !important;
}
