#projects {
    height: 140vh;
    text-align: center;
}

.projectsBody {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project {
    width: 300px;
    height: 300px;
    border: 5px solid #f4f4f2;
    border-radius: 2%;
    overflow-y: scroll;
}

@media (max-width: 1000px) {
    .project {
        width: 250px;
        height: 250px;
    }
}

.project.HoosSearching {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/images/hoosSearching.jpg");
}

.project.quickTutor {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/images/quickTutor.png");
}

.project.website {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/images/website.png");
}

.hiddenText {
    display: none;
}

.project:hover {
    width: 400px;
    height: 400px;
    background: rgb(214, 234, 248, 0.5);
    overflow-y: scroll;
}

@media (max-width: 1000px) {
    .project:hover {
        width: 320px;
        height: 320px;
    }
}

.project:hover .hiddenText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 5px 5px;
}

.hiddenText {
    width: 100%;
    height: 100%;
}

.projectTitle {
    text-decoration: underline;
}

.projectInfo {
    font-size: 14px;
}

.projectLanguages {
    font-size: 12px;
}

.projectTechnologies {
    font-size: 14px;
}

.projectLink {
    padding: 0;
}