#skills {
    height: 100vh;
    text-align: center;
  }

.skillsTitle {
    padding-top: 80px;
    text-transform: uppercase;
    color: #f4f4f2;
}

.skillsTitle h1 {
    font-size: 50px;
    line-height: 40px;
}