.switchContainer {
    display: flex;
    width: 140px;
    align-items: center;
    justify-content: space-around;
}

.fa-water {
    font-size: 21px;
    color: #2E86C1 ;
}

.fa-sun {
    font-size: 23px;
    color: #F5B041;
}

.switch {
    position: relative;
    margin-top: 10px;
    width: 60px;
    height: 25px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5DADE2  ;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #F9E79F;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #F9E79F;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }