.timelineContainer {
    /* background-color: red; */
    width: 100%;
    padding-top: 70px;
    margin: auto;
    height: 60vh;
    text-align: center;
  }
  
  .timelineHeader {
    color: #f4f4f2;
    padding-bottom: 20px;
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  .timeline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    background-color: #D6EAF8;
    border-radius: 15px;
    height: 10px;
    width: 85%;
    margin-left: 7.5%;
  }
  
  .fas {
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #D6EAF8 ;
  }
  @media (max-width: 1000px) {
    .fas {
      font-size: 30px;
    }
  }
  
  .fas:hover {
    /* color: #F08080; */
    font-size: 60px;
    text-decoration: none;
  }
  @media (max-width: 1000px) {
    .fas:hover {
      font-size: 40px;
    }
  }
  
  .iconContainer {
    background-color: #52BE80;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  .iconContainer:hover {
    height: 60px;
    width: 60px;
  }
  
  .iconContainer.to-be{
    background-color: #F08080;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  .iconContainer.to-be:hover {
    height: 60px;
    width: 60px;
  }
  
  @media (max-width: 1000px) {
    .iconContainer {
      height: 30px;
      width: 30px;
    }
    .iconContainer.to-be {
      height: 30px;
      width: 30px;
    }
    .iconContainer.to-be:hover {
      height: 40px;
      width: 40px;
    }
  }

  .timelineText {
      background-color: rgb(214, 234, 248, 0.5);
      margin-top: 60px;
      height: 50%;
      width: 40%;
      margin-left: 30%;
  }

  #timelineYear {
    color: #34495E;
    font-size: 25px;;
    padding-top: 10px;
  }

  .timelineTextYear {
      font-weight: bold;
  }
  .sep {
    color: #5D6D7E;
}